.page-design {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr;
}

.left-menu {
  background-color: green;
  height: 87vh;
  width: 20vw;
}

.vehicle-option1 {
  background-color: blue;
  height: 5rem;
}

.vehicle-option2 {
  background-color: pink;
  height: 5rem;
}

.vehicle-option3 {
  background-color: red;
  height: 5rem;
}

.vehicle-option1:hover{
  background-color: rgb(173, 173, 172);
  cursor: pointer;
}

.vehicle-option2:hover{
  background-color: rgb(173, 173, 172);
  cursor: pointer;
}

.vehicle-option3:hover{
  background-color: rgb(173, 173, 172);
  cursor: pointer;
}

.right-content {
  background-color: aqua;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr;
  color: rgb(0, 0, 0);
  height: 87vh;
  margin-left: 0; 
  padding: 1rem;
  overflow-y: auto;
}

button {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #706f6f; 
}